$blue-light: rgb(0, 156, 222);
$blue-dark:rgb(16, 76, 151);
$form-background: rgb(255,255,255);
$border-light: rgb(255,255,255);
$font-light: rgb(255,255,255);
$font-dark: rgb(0,0,0);
$font-gray: rgb(99,99,99);
$small-border-radius: 3px;